/* basic layout */
body {
	padding-top: 10px;
}
h1,
.brand,
.page-header small {
	font-family: 'Raleway', sans-serif;
}
.page-header small {
	font-size: 24px;
	color: #999;
}
.brand {
	font-size: 24px;
	display: block;
	margin-bottom: 24px;
	color: #000000;
}
.brand:hover {
	text-decoration: none;
}
.nav,
.brand {
	line-height: 56px;
}
.logo {
	float: left;
	height: 40px;
	margin: 10px 7px 0 0;
}

/* startpage */
.snapshot {
	margin-bottom: 1.5em;
}
h2 a {
	color: #000000;
}
h2.first {
	margin-top: 0;
}

/* sidebar */
.sidebar {
	padding-top: 16px;
	font-size: 13px;
	line-height: 17px;
}
.sidebar small {
	font-size: 11px;
	line-height: 15px;
}
.author {
	clear: left;
	margin-bottom: 2em;
}
.author a {
	color: #000000;
}
.author-img {
	float: left;
	margin-right: 7px;
	max-height: 105px;
}
.social-icons {
	line-height: 24px;
}
.social-icons a:hover {
	text-decoration: none;
}
.social-icons img {
	height: 18px;
	display: inline;
	margin-right: 3px;
}

/* posts index */
.post>h3.title {
	position: relative;
	padding-top: 10px;
}

.post>h3.title span.date {
	position: absolute;
	right: 0;
	font-size: 0.9em;
}

.post>.more {
	margin: 10px 0;
	text-align: left;
}

/* post-full*/
.post-full .date {
	margin-bottom: 20px;
	font-weight: bold;
}

/* tag_box */
.tag_box {
	list-style: none;
	margin: 0;
	overflow: hidden;
}

.tag_box li {
	line-height: 28px;
}

.tag_box li i {
	opacity: 0.9;
}

.tag_box.inline li {
	float: left;
}

.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	color: #555;
	border-radius: 3px;
	text-decoration: none;
	border: 1px dashed #cccccc;
}

.tag_box a span {
	vertical-align: super;
	font-size: 0.8em;
}

.tag_box a:hover {
	background-color: #e5e5e5;
}

.tag_box a.active {
	background: #57A957;
	border: 1px solid #4c964d;
	color: #FFF;
}